@charset "utf-8";

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    pointer-events: none;
    /* 커서 위에 있는 요소 클릭 방지 */
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9999;
}

.custom-cursor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.ability_box {
    display: flex;
    text-align: center;
}


html,
body {
    font-family: "Zen Kaku Gothic New", sans-serif "Anybody", sans-serif "IBM Plex Sans KR", sans-serif Gmarket Sans;
    position: relative;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 1000px;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
}

.background {
    width: 100%;
    display: block;
}

.foreground {
    position: absolute;
    top: 50%;
    /* 필요에 따라 조절 */
    left: 56%;
    /* 필요에 따라 조절 */
    transform: translate(-50%, -50%);
    /* 가운데 정렬 */
    width: 1024px;
    height: 1030px;
    /* 이미지 크기 조절 */
}

.left {
    position: absolute;
    top: 20%;
    left: 8%;
    color: white;
}

.left p {
    display: block;
    font-size: 50px;
}

.left p span {
    display: block;
    font-size: 138px;
    font-weight: bold;
    position: absolute;
    top: 50%;
}

.right {
    position: absolute;
    bottom: 10%;
    right: 5%;
    text-align: right;
    color: white;
    font-size: 48px;
    font-family: "IBM Plex Sans KR", sans-serif;
}

.menu-button {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10001;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: #000;
    transition: 0.3s;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    /* 처음에 화면 밖에 숨김 */
    width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 10000;
    transition: left 0.3s ease;
    padding: 100px 20px;
}

.side-menu.active {
    left: 0;
    /* 메뉴 열리면 화면 안으로 들어옴 */
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 30px;
}

.side-menu ul li a {
    color: white;
    font-size: 19px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* .vid {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.9;
}

.vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */



#qa {
    width: 100%;
    padding: 150px 0;
    background: #FFFCF6;
    display: flex;
    flex-direction: column;
}

section h2 {
    font-size: 80px;
    text-align: center;
    font-family: "IBM Plex Sans KR", sans-serif;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

section h2 span {
    font-weight: 300;
    font-size: 60px;
}

.txt_box p {
    display: block;
    font-size: 28px;
}

#qa .hashtag {
    margin: 0 auto;
}

#qa .qa_grid {
    width: 1306px;
    height: 886px;
    flex-wrap: wrap;
    border: 3px solid #F3A461;
    margin: 0 auto;
    display: flex;
    padding: 70px 88px;
    justify-content: space-between;
    align-content: space-between;
}

.qa_card {
    display: flex;
    text-align: center;
    position: relative;
    width: 360px;
    height: 360px;
    flex-shrink: 0;
    background: #eee;
    cursor: pointer;
}

.qa_card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: relative;
}

.qa_card .txt_box {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* 👉 Flex 사용으로 수직 + 수평 정렬 가능 */
    align-items: center;
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */

    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.qa_card:hover .txt_box {
    opacity: 1;
}

.qa_card p {
    display: block;
    text-align: center;
    font-weight: bold;
}


#ability {
    width: 100%;
    height: 1000px;
    background: #FFEFD7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ability h2 {
    width: 643px;
    color: #0B0B0B;
    display: block;
    text-align: center;
    /* background: #ccc; */
}

#ability h2 em {
    width: 100%;
    display: block;
    text-align: center;
}

#ability .ability_box {
    display: flex;
    width: 1320px;
    height: 650px;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    color: white;
}

#ability .ability_box_bottom {
    display: flex;
    width: 1400px;
    height: 350px;
    justify-content: space-evenly;
    margin-left: 220px;
    color: white;
}

#ability .ability_box1 {
    width: 308px;
    height: 308px;
    position: relative;
    display: inline-block;
    background: #eee;
    cursor: pointer;
    border-radius: 30px;
}

.ability_txt {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* 👉 Flex 사용으로 수직 + 수평 정렬 가능 */
    align-items: center;
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 30px;
}

.ability_box1:hover .ability_txt {
    opacity: 1;
}

#ability .ability_box2 {
    width: 308px;
    height: 308px;
    position: relative;
    display: inline-block;
    background: #eee;
    cursor: pointer;
    border-radius: 30px;
}

.ability_txt {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* 👉 Flex 사용으로 수직 + 수평 정렬 가능 */
    align-items: center;
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 30px;
}

.ability_box2:hover .ability_txt {
    opacity: 1;
}

#ability .ability_box3 {
    width: 308px;
    height: 308px;
    position: relative;
    display: inline-block;
    background: #eee;
    cursor: pointer;
    border-radius: 30px;
}

.ability_txt {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* 👉 Flex 사용으로 수직 + 수평 정렬 가능 */
    align-items: center;
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 30px;
}

.ability_box3:hover .ability_txt {
    opacity: 1;
}

#ability .ability_box4 {
    width: 308px;
    height: 308px;
    position: relative;
    display: inline-block;
    background: #eee;
    cursor: pointer;
    border-radius: 30px;
}

.ability_txt {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* 👉 Flex 사용으로 수직 + 수평 정렬 가능 */
    align-items: center;
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 30px;
}

.ability_box4:hover .ability_txt {
    opacity: 1;
}

#ability .ability_box5 {
    width: 308px;
    height: 308px;
    position: relative;
    display: inline-block;
    background: #eee;
    cursor: pointer;
    border-radius: 30px;
}

.ability_txt {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* 👉 Flex 사용으로 수직 + 수평 정렬 가능 */
    align-items: center;
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 30px;
}

.ability_box5:hover .ability_txt {
    opacity: 1;
}

#ability .ability_box6 {
    width: 308px;
    height: 308px;
    position: relative;
    display: inline-block;
    background: #eee;
    cursor: pointer;
    border-radius: 30px;
}

.ability_txt {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* 👉 Flex 사용으로 수직 + 수평 정렬 가능 */
    align-items: center;
    /* 수직 정렬 */
    justify-content: center;
    /* 수평 정렬 */

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 30px;
}

.ability_box6:hover .ability_txt {
    opacity: 1;
}

.projects_tit {
    background: #F8F3EB;
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans KR", sans-serif;
}

.projects_tit h2 {
    display: flex;
    font-size: 50px;
    margin-top: 200px;
    justify-content: center;
}

.projects_tit p {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}



.gsap-section {
    height: 3000px;
    /* 스크롤 생성을 위해 높게 */
    position: relative;
}

.falling-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    margin-left: 300px;
    margin-top: 800px;
    /* 원하는 크기 */
}

.projects_section {
    width: 100%;
    height: 4824px;
    background: #141414;
    display: flex;
    font-family: Gmarket Sans TTF;
    text-align: center;
}

.projects_section p {
    font-weight: bold;
    font-size: 48px;
    display: block;
    line-height: 1.8;
    padding-top: 40px;
}

.projects_section p span {
    display: block;
    font-size: 20px;
    line-height: 1.4;
}

.projects_section .projects_grid1 {
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.projects_section .projects_grid2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 60px 0 0 0;
    gap: 50px;
}

.projects_section .projects_grid1 .projects_card1 {
    width: 457px;
    height: 651px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.projects_card1 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid1 .projects_card2 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card2 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid1 .projects_card3 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card3 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid1 .projects_card4 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card4 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid1 .projects_card5 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card5 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid2 .projects_card6 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card6 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid2 .projects_card7 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card7 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid2 .projects_card8 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card8 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid2 .projects_card9 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card9 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.projects_section .projects_grid2 .projects_card10 {
    width: 457px;
    height: 651px;
    background-color: white;
}

.projects_card10 .go-button {
    width: 190px;
    height: 62px;
    color: white;
    background: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    font-size: 36px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

.footer {
    font-family: "IBM Plex Sans KR", sans-serif;
    display: flex;
    width: 100%;
    height: 890px;
    background: #0B0B0B;
    overflow: hidden;
    flex-direction: column;
    padding: 200px;
}

.footer h2 {
    color: white;
    font-size: 128px;
    font-weight: bold;
    text-align: center;
}

.footer p {
    display: block;
    color: white;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.footer .img {
    width: 400px;
    height: 600px;
    display: flex;
    margin-top: -240px;
}